// - - - - - - - - - - - - - - - - - -

// Gallery

// - - - - - - - - - - - - - - - - - -

.gallery {
	visibility: hidden;
	position: relative;
	max-width: 90%;
	margin: 20px auto;

	@include mq(tabletp) {
		max-width: 83%;
		margin: 30px auto;
	}

	@include mq(laptop) {
		max-width: 75%;
		margin: 40px auto;
	}

	&:first-child {
		margin-top: 0;
	}
}

.gallery--on {
	visibility: visible;
}

.gallery__item {
	position: relative;

	img {
		width: 100%;
	}
}



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Carousel

.gallery--carousel {

	.gallery__wrap {

	}
	
	.gallery__item {

	}

	.gallery__item__link {
		display: block;
		pointer-events: none;
	}

	.gallery__item__image {

	}

	.owl-nav {
		display: none;
	}

	.owl-dots {
		margin-top: 20px;
		text-align: center;

		.owl-dot {
			display: inline-block;
			margin: 0 3px;
			width: 12px;
			height: 12px;
			border: 0;
			border-radius: 100%;
			background: $text-light-color;
			@include transition(all 0.2s ease-in-out);
			cursor: pointer;
			outline: none;

			&.active {
				background: $accent-color;
			}
		}
	}
}



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Grid

.gallery--grid {

	.gallery__wrap {
		margin-left: -$grid-spacing/2;
		margin-right: -$grid-spacing/2;
	}
	
	.gallery__item {
		float: left;
		width: 50%;
		padding: $grid-spacing/2;
	}

	.gallery__item__link {
		display: block;
		cursor: zoom-in;
	}

	&[data-columns="3"] {

		.gallery__item {
			width: 33.33%;
		}
	}

	&[data-columns="4"] {

		.gallery__item {
			width: 33.33%;
		}

		@include mq(tabletp) {

			.gallery__item {
				width: 25%;
			}
		}
	}

	&[data-columns="5"] {

		.gallery__item {
			width: 33.33%;
		}

		@include mq(tabletp) {

			.gallery__item {
				width: 25%;
			}
		}

		@include mq(tabletl) {

			.gallery__item {
				width: 20%;
			}
		}
	}

	&[data-columns="6"] {

		.gallery__item {
			width: 33.33%;
		}

		@include mq(tabletp) {

			.gallery__item {
				width: 25%;
			}
		}

		@include mq(tabletl) {

			.gallery__item {
				width: 20%;
			}
		}

		@include mq(laptop) {

			.gallery__item {
				width: 16.66%;
			}
		}
	}
}

/* Dark Carousel Indicators */
.carousel-indicators button {
  background-color: #000 !important; /* Dark grey color */
  opacity: 0.5;
}

.carousel-indicators button.active {
  opacity: 1;
}

.carousel-indicators {
  margin-top: 1rem; /* space between image and dots */
  position: relative; /* allows it to be below image instead of overlay */
	justify-content: center;
}


/* Dark Carousel Navigation Arrows */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  border-radius: 50%;
  width: 3rem; /* Adjust arrow size */
  height: 3rem;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
  content: "";
  display: inline-block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* Makes the arrow icons dark */
}

.custom-carousel-caption {
  background-color: #fff; /* White background for the caption */
  color: #000; /* Black text color */
  text-align: center; /* Center align the text */
  padding: 10px 0; /* Vertical padding */
  margin-top: -5px; /* Small adjustment to reduce spacing */
  border-top: 1px solid #ddd; /* Optional: Add a thin line above the caption */
}

.carousel-inner img {
  display: block;
  width: auto; /* Ensures image takes full width */
	height: auto;
	max-height: 80vh;
	object-fit: contain;
  margin: 0 auto; /* No extra margin */
  border-bottom: none; /* Prevent border overlap */
}






